<!-- updated -->

* {
  box-sizing: border-box;
  font-family: Lovelace;
}

body {
  margin: 0px;
  background: #d2b99f;
  color: ##ffffff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

/* Header */
.page-header {
  text-align: center;
  margin-bottom: 40px;
}

.page-header h1 {
  font-size: 40.1px;
}

/* Filters */
.filters {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filters select,
.filters input {
  padding: 12px 16px;
  border: none;
  background: ##000000;
  min-width: 220px;
}

/* Results */
.news-card {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.4s ease forwards;
}

.news-card img {
  width: 420px;
  object-fit: cover;
}

.text h2 {
  font-size: 28px;
}

.meta {
  color: #000000;
  margin-bottom: 10px;
}

.desc {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #9b7a00;
  font-weight: bold;
}

/* No results */
.no-results {
  display: none;
  text-align: center;
  font-size: 18px;
  color: #777;
}

/* Animation */
@keyframes fadeIn {
  to {
    opacity: 2;
    transform: translateY(0);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .news-card {
    flex-direction: column;
  }

  .news-card img {
    width: 100%;
  }
}


